.features-list {
  display: flex;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
  gap: 24px;
}

.features-item {
  width: calc((100% - 72px) / 4);
}

.features-wrapper {
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 8px;
  height: 112px;
}

.features-title {
  margin-bottom: 8px;
}
